body{
    background-color: #f29c91;
    font-family: cursive;
}

#sidenav{
    background-color: #000000;
    color: #fff;
}

h1{
    color: #ff81ff;
}

#sidenav a{
    color: #fff;
}

#sidenav a:hover{
    color: #ff69b4;
}

#hatsune-miku{
    width: 250px;
    height: auto;
    position: fixed;
    bottom: 0;
}

h2{
    margin-bottom: 30px;
}

#grid-container{
    display: grid;
    justify-items: center;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 22vh 22vh 22vh;
}

#grid-container button{
    border-color: #fff;
    border-style: ridge;
    border-width: 3px;
    border-radius: 8px;
    font-family: cursive;
    font-size: 17px;
    height: 85px;
    padding: 7px;
    width: 150px;
}

#grid-container button:hover{
    border-color: #000;
    cursor: pointer;
}

#btn-1{
    background-color: #ac2828;
    color: #fff;
}

#btn-2{
    background-color: #f29c91;
}

#btn-2:disabled{
    background-color: #b6a59f;
}

#btn-2:disabled:hover{
    cursor: default;
    border-color: #fff;
}

#btn-3{
    background-color: #57c1c1;
    color: #fff;
}

#btn-4{
    background-color: #000;
    color: #fff;
}

#btn-4:disabled{
    background-color: #00000088;
    color: #ffffff88;
}

#btn-4:disabled:hover{
    cursor: default;
    border-color: #fff;
}

#btn-5{
    background-color: #6ed84a;
    color: #d21a1a;
}

#btn-7:disabled:hover{
    cursor: default;
    border-color: #fff;
}

#btn-8{
    background-color: #fe0;
    color: #d33fb8;
}

#btn-9{
    background-color: #999;
    color: #0fd;
}

#btn-10{
    background-color: #ff68d9;
    color: #fe0;
}