*{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

body{
    background-color: #7bbaba;
    color: #1c1e69;
}

#sidenav{
    font-family: 'Courier New', Courier, monospace;
    background-color: #324646;
}

#sidenav h1{
    color: #3088df;
}

#sidenav a{
    background-color:  black;
    color: #7fff00;
    margin: -30;
    padding: 0;
    font-weight: normal;
}

#sidenav a:hover{
    color: #fff;
}

p, label{
    font-size: 18px;
}

p{
    margin-top: 7px;
    margin-bottom: 2px;
}

input{
    appearance: textfield;
    background-color: #000;
    color: #7fff00;
    font-size: 18px;
}

button{
    background-color: #a8dbdb;
    border-color: #a8dbdb;
    border-radius: 3px;
    font-size: 18px;
    margin: 3px;
    min-width: 33px;
    padding: 5px;
}

button:hover{
    background-color: #4e6969;
    color: #fff;
    cursor: pointer;
}

button:disabled:hover{
    background-color: #a8dbdb;
    color: initial;
    cursor: default;
}

strong{
    background-color: #000;
    border-color: #ddd;
    border-radius: 1px;
    border-style: groove;
    color: #7fff00;
    font-weight: 900;
    padding-left: 10px;
    padding-right: 10px;
}